/* Entire Document */
 html, body {
    height: 100%;
}
 body {
     margin: 0;
     padding: 0;
     font-size: 14px;
     font-family: 'Droid Serif', serif;
     z-index: 0;
}
 button:focus {
     outline: 0;
}

/* !Nav! */
 nav {
     background-color: #3B3738;
     margin: 0;
     overflow: hidden;
     color: white;
     border-bottom-color: yellow;
     border-bottom-style: solid;
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 99;
}
/* Leftside of Nav */
 #nic {
     font-size: 22px;
     font-weight: bold;
}
 #nicJob {
     font-style: italic;
     margin-top: -15px;
}
 #nameNavContainer {
     padding-left: 15px;
}
/* Nav Positioning */
 nav ul {
     margin: 0;
     padding: 0;
     display: flex;
}
 nav ul li {
     display: inline-block;
     list-style-type: none;
}
 nav ul li a {
     color: white;
     background-color: #521A19;
     display: block;
     line-height: 3em;
     padding: 1em 3em;
     text-decoration: none;
}
 nav ul li:first-child {
     margin-right: auto;
}
/* Right links */
 nav ul li a:hover {
     background-color: #B20D0C;
}




/* !Projects! */
 #projects{
	margin: 0 auto; 
	width: 95%;
	position: relative; 
 }
 /*
#projectInfoText{
   width: 80%;
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   z-index:99999;
   position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
#projectInfoText{
  position: absolute;
  bottom: 0px;
  color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
#projects #projectPicture{
	
}

 #projects ul{
	 padding: 0px; 
 }
 
#projectBackEnd, #projectFrontEnd{
	width: 95%;
}
 #projectFrontEnd li, #projectBackEnd li {
     border-radius: 5px;
     display: inline-block;
     text-transform: uppercase;
     letter-spacing: 0.2em;
     padding: 3px 5px 3px 5px;
     margin: 0px 3px 4px 3px;
}
 #projectFrontEnd li {
     border: 1px solid #E39C8A;
	 background: #E39C8A
}
 #projectBackEnd li {
     border: 1px solid #C198D3;
	 background: #C198D3;
 }
 
 #projectLinks {
     text-align: center;
     padding-left: 0px;
}
 #projectLinks li {
     display: inline-block;
     list-style-type: none;
     margin: 5px 10px 0px 0px;
     font-size: 17px;
     border: 2px solid #8C96ED;
     padding: 3px 5px 3px 5px;
     text-transform: uppercase;
     letter-spacing: 0.2em;
	 background: white; 
}
 .fa-code,.fa-external-link, .fa-free-code-camp {
     color: black;
     -webkit-transition: color .5s;
     -moz-transition: color .5s;
     -ms-transition: color .5s;
     -o-transition: color .5s;
     transition: color .5s;
}
 .fa-code:hover, .fa-external-link:hover, .fa-free-code-camp:hover{
     color: #5D6BD4;
}

 #projectPicture {
     display: block; 
	 opacity: 0.6;
	 width: 100%;
    height: auto;
}


/* Project Buttons */
 #projectSelectBoxes {
     width: 95%;
     overflow-x:scroll;
     white-space: nowrap;
     margin: 0 auto; 
}
 .projectSelectImage {
     width: 100%;
     padding: 0;
     margin: 0;
}
 button{
     cursor: pointer;
}
 .projectSelectButton {
     background: white;
     max-width: 150px;
     max-height: 150px;
     min-width: 100px;
     min-height: 100px;
     padding: 0;
     border: none;
}




/* !!CONTACT!! */
 #contactInfo{
     text-align: center;
     clear: both;
}
 #nameContainer{
     float: left;
}
 #addressContainer{
     float: right;
}
 #Message{
     clear: both;
}
 .antispam {
     display:none;
}
 #credit{
     font-size: 10px;
}
/* Splash page */
 #splash button{
     width: 19.5%;
     height: 100%;
     margin: 0px;
     border: none;
}
 #splash button img{
     width: 100%;
}
 #splash{
     text-align: center;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}
 #index{
     display: none;
}
 @media screen and (max-width: 1000px) {
	 /* SPLASH PAGE */
	#splash button{
         height: 250px;
         width: 100%;
    }
     #splash{
         width: 100%;
    }
     #splash button img{
         width: 150px;
    }
	 
	 /* NAV */
     nav ul{
         display: block;
         text-align: center;
    }
     nav ul li {
         width: 24%;
         text-align: center;
    }
     nav ul li:first-child {
         width: 100%;
         text-align: center;
         display: block;
    }
     nav ul li a {
         display: block;
         font-size: 8px;
    }
	
	/* Projects */
	#projectLinks{
		margin: 0px; 
	}
	 #projectLinks li {
		font-size: 12px; 
	 }
	  #projectFrontEnd li, #projectBackEnd li {
		font-size: 12px; 
	  }
	h1 {
	  margin: .37em 0px; 
	  font-size: 1.4em;
	}
	
 }
 @media screen and (max-width: 800px) {
	.projectSelectButton {
     max-width: 100px;
     max-height: 100px;
     min-width: 50px;
     min-height: 50px;
	}
	 #projectLinks li {
		width: 90%; 
		height: 20px; 
	 }

	#projectInfoText{
	   position: relative;  
	   width: 95%; 
	   margin-bottom: 10px; 
	}
	#projectPicture{
        display: none;
    }
	nav ul li img{
		height: 25px; 
		width: 25px; 
	}
	nav ul li a{
		padding: 0px; 
		padding-top: 4px; 
	}
 }
    