<!DOCTYPE html>

<head>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-114290573-1', 'auto');
		ga('send', 'pageview');
	</script>

	<title>Nicolas Crumrine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
</head>
<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<body ng-app="portfolio" ng-controller="portfolioControllers">
	<nav id="nav">
		<!-- Test -->
		<ul>
			<li id="nameNavContainer">
				<p id="nic"> Nicolas Crumrine </p>
				<p id="nicJob"> Web Developer based in NYC
					<a id="aboutMeButton" href="https://nicolascrumrine.herokuapp.com/#/about" target="_blank" onclick="ga('send', 'event', 'Nav', 'Click', 'AboutMeBlog');">About
						Me
					</a>
				</p>
			</li>
			<li>
				<a href="https://github.com/CrumrineCoder" id="github" title="Github" target="_blank" onclick="ga('send', 'event', 'Nav', 'Click', 'Github');">
					<!--				<img src="Images/githubWhite.png" width="42" height="42" border="0" color="white"> -->
					<i class="fab fa-github navIcon" border="0"></i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/nicolas-crumrine-50899b120/" title="link" target="_blank" onclick="ga('send', 'event', 'Nav', 'Click', 'LinkedIn');">
					<!--			<img src="Images/linkedinWhite.png" width="42" height="42" border="0"> -->
					<i class="fab fa-linkedin-in navIcon" border="0"></i>
				</a>
			</li>
			<li>
				<a href="mailto:crumrinecoding@gmail.com" title="Email" target="_blank" onclick="ga('send', 'event', 'Nav', 'Click', 'Email');">
					<!--	<img src="Images/codepenWhite.png" width="42" height="42" border="0"> -->
					<i class="fas fa-envelope navIcon" border="0"></i>
				</a>
			</li>
		</ul>
	</nav>
	<!-- Credits for logos -->
	<!-- <div id="logoCreditsOverlay" onclick="creditsOff()">
			
		<ul id="credit"> Logo Credits
		  <li> NPC Lookup logo by Björn Andersson of the Noun Project </li>
		  <li>Polling logo by Misha of the Noun Project </li>
		   <li> Tabletop logo by Andrew Doane of the Noun Project </li>
		  <li> Weather App logo by João Proença of the Noun Project </li>
		  <li> Pomodoro logo by mikicon of the Noun Project </li>
		  <li> Calculator logo by Ralf Schmitzer of the Noun Project </li>
		 
		  <li> Simon Says logo adapted from Creaticca Creative Agency of the Noun Project </li>
		  
		  Click Anywhere to return to safety.
		 </ul>
	</div> -->
	<!-- Initial/Splash page -->
<!--	<div id="splash">
		<span id="removeMargin" ng-repeat="project in buttons | limitTo:5">
			<button type="image" ng-click="change(project.id)" ng-style="{'background-color': project.color}" style="position: relative;"
			 onclick="ga('send', 'event', 'Portfolio', 'Click', 'Landing');">
				<img ng-src={{project.logo}} class="projectSelectImage" ng-style="{'background-color': project.color}">
				<p class="splashText"> {{project.title}} </p>
			</button>
		</span>
	</div> -->

	<div id="overlay" class="hiddenOverlay">
		<button id="toggleOverlayButton" onclick="toggleOverlay()">
				<i id="toggleOverlayButtonIcon" class="fas fa-chevron-down"></i>
		</button>
		<div id="overlayText" class="shownOverlay">
			<h4><i>Project Hover Preview</i></h4>
			<h1 id="overlayTitle"> {{previewInfo.title}} </h1>
			<ul>
				<div id="overlayFrontEnd">
					<li class="frontend"> {{previewInfo.frontTechnologies}} </li>
				</div>
				<div id="overlayBackEnd">
					<li class="backend"> {{previewInfo.backTechnologies}} </li>
				</div>
			</ul>
			<h3>Click on the Project Icon to learn more!</h3>
		</div>
	</div>


	<div id="index">

		test
		<!-- Project Section || scrollTo('projectSelectBoxes') -->
		<div id="projectSelectBoxes">
			<button type="image" class="projectSelectButton" id={{project.id}} ng-click="changeProject(project.id)"
			 ng-mouseover="changePreview(project.id)" ng-style="{'background-color': project.color}" ng-repeat="project in buttons">
				<img ng-src={{project.logo}} class="projectSelectImage" ng-style="{'background-color': project.color}">
				<p class="logoText"> {{project.title}} </p>
			</button>
		</div>

		<div id="projects">
			<!-- Select a project section -->

			<!-- <img id="projectPicture" ng-src="{{projectInfo.picture}}" />  -->
			<div id="video-jumbotron">
				<video id="projectPicture" autoplay muted loop src="{{projectInfo.video | trustUrl }}">
					<source src="{{projectInfo.video | trustUrl }}" type="video/mp4"> Your browser does not support HTML5 video.
				</video>
			</div>
			<div id="projectInfoText">

				<div id="content">

					<div id="topLeftContent">
						<h1 id="projectTitle"> {{projectInfo.title}} </h1>
						<div id="projectAdditionalInformation">
							<ul>
								<div id="projectFrontEnd">
									<li class="frontend"> {{projectInfo.frontTechnologies}} </li>
								</div>
								<div id="projectBackEnd">
									<li class="backend"> {{projectInfo.backTechnologies}} </li>
								</div>
							</ul>
							<p> {{projectInfo.projectDescription}} </p>
							<p> {{projectInfo.productPaper}} </p>
							<a ng-if="projectInfo.prevWebsiteLink != undefined" style="text-decoration: underline" class="externalLinks" href="{{projectInfo.prevWebsiteLink}}" target="_blank">
								<div id="prev-code-link" style="font-size: 12px;">
									<i class="fas fa-external-link-alt fontIcon" rgb="(0,0,0)"> </i>See Previous Version of Website
								</div>
							</a>
						</div>
						<button id="toggleButton" onclick="toggleInfo()" value="Show More">Toggle Info</button>
					</div>
					<ul id="projectLinks">
						<a href="{{projectInfo.codeLink}}" class="externalLinks" target="_blank">
							<li id="code-link">
								<i class="fas fa-code fontIcon"></i>See Code
							</li>
						</a>
						<a href="{{projectInfo.websiteLink}}" class="externalLinks" target="_blank">
							<li id="website-link">
								<i class="fas fa-external-link-alt fontIcon"></i>Visit Website
							</li>
						</a>
						<a ng-if="projectInfo.caseStudyLink != undefined" href="{{projectInfo.caseStudyLink}}" class="externalLinks" target="_blank">
							<li id="case-link">
								<i class="fas fa-book-open fontIcon"></i>Read Case Study
							</li>
						</a>
						<!-- <li ng-hide="projectInfo.freeCodeCampLink == null"><a href="{{projectInfo.freeCodeCampLink}}" target="_blank"> <i class="fa fa-free-code-camp"> FreeCodeCamp Challenge </i> </a></li> -->
					</ul>
				</div>
			</div>
			<button ng-click="carouselProject(-1)" class="sliderBtn" id="backBtn">
				<i class="fa fa-chevron-left"></i>
			</button>
			<button ng-click="carouselProject(1)" class="sliderBtn" id="nextBtn">
				<i class="fa fa-chevron-right"></i>
			</button>
		</div>

		<!-- Contact Section -->
		<div id="contactInfo">
			<i class="fa fa-envelope-o fa-2x"> </i>
			<h1>Let's start</h1>
			<h3> a new project together</h3>
			<a id="emailButton" href="mailto:crumrinecoding@gmail.com">Email Me</a>
		</div>

		<!-- <button id="logoCredits" onclick="creditsOn(); off">Logo Credits</button> -->
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js'></script>
	<script type="text/javascript" src="projectController.js">
	</script>
</body>