<!DOCTYPE html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113533536-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-113533536-1');
	</script>

  <title>Nicolas Crumrine</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> </head>

<body ng-app="portfolio" ng-controller="portfolioControllers">
 <nav id="nav">
      <ul>
        <li id="nameNavContainer">
          <p id="nic"> Nicolas Crumrine </p>
          <p id="nicJob"> Web Developer based in NYC     <button id="aboutMeButton" onclick="on(); creditsOff();">   Read More</button></p> 
        </li>
        <li> <a href="https://github.com/CrumrineCoder" id="github" title="Github: revised projects" target="_blank">
					<img src="Images/githubWhite.png" width="42" height="42" border="0" color="white" >
				</a> </li>
		<li> <a href="https://www.linkedin.com/in/nicolas-crumrine-50899b120/" title="LinkedIn" target="_blank">
					<img src="Images/linkedinWhite.png" width="42" height="42" border="0">
				</a> </li>
        <li> <a href="https://codepen.io/collection/DxOEJM/#0" title="Codepen: old projects" target="_blank">
					<img src="Images/codepenWhite.png" width="42" height="42" border="0">
				</a> </li>       
      </ul>
    </nav>
	<div id="aboutMeOverlay" onclick="off()">
		<div id="aboutMeText">Hi, I'm Nicolas Crumrine and I make websites. I currently use HTML, CSS, Javascript, Angular, ExpressJS and Node.JS and am working to learn other languages. I enjoy identifying, understanding, and tinkering with patterns. I like reading history, sci-fi, and Terry Prachett, drawing, listening to rock operas, and collaborative storytelling when I'm not building websites. <br > <br>
		Visit a few of my projects and email me if you like what you see. I hope I can help. <br> <br> Click anywhere to return to safety.</div>
	</div>
	<div id="logoCreditsOverlay" onclick="creditsOff()">
			<!-- Credits for logos -->
		<ul id="credit"> Logo Credits
		  <li> NPC Lookup logo by Björn Andersson of the Noun Project </li>
		  <li>Polling logo by Misha of the Noun Project </li>
		   <li> Tabletop logo by Andrew Doane of the Noun Project </li>
		  <li> Weather App logo by João Proença of the Noun Project </li>
		  <li> Pomodoro logo by mikicon of the Noun Project </li>
		  <li> Calculator logo by Ralf Schmitzer of the Noun Project </li>
		 
		  <li> Simon Says logo adapted from Creaticca Creative Agency of the Noun Project </li>
		  
		  Click Anywhere to return to safety.
		 </ul>
	</div>
	<!-- Initial/Splash page -->
  <div id="splash">
	<span id="removeMargin" ng-repeat="project in buttons | limitTo:5">
		<button type="image" ng-click="change(project.id)" ng-style="{'background-color': project.color}" style="position: relative;" > 
				<img src={{project.logo}} class="projectSelectImage" ng-style="{'background-color': project.color}">
						<p class="splashText"> {{project.title}} </p>
			</button>
	</span>
  </div>
  

  <div id="index">
	
   test
	<!-- Project Section -->
	<div id="projects">
		<!-- Select a project section -->
		
		<img id="projectPicture" src="{{projectInfo.picture}}" />
		<div id="projectInfoText">
			<div id="content">
				<h1 id="projectTitle"> {{projectInfo.title}} </h1>
				<ul>
					<div id="projectFrontEnd">
						<li class="frontend"> {{projectInfo.frontTechnologies}} </li>
					</div>
					<div id="projectBackEnd">
						<li class="backend"> {{projectInfo.backTechnologies}} </li>
					</div>
				</ul>
				<p> {{projectInfo.projectDescription}} </p>
				<p> {{projectInfo.productPaper}} </p>
				<ul id="projectLinks">
				  <a href="{{projectInfo.codeLink}}" target="_blank"><li><i class="fa fa-code" rgb="(0,0,0)"> See Code </i></li></a>
				  <a href="{{projectInfo.websiteLink}}" target="_blank"><li> <i class="fa fa-external-link"> Visit Website </i></li> </a>
				  <!-- <li ng-hide="projectInfo.freeCodeCampLink == null"><a href="{{projectInfo.freeCodeCampLink}}" target="_blank"> <i class="fa fa-free-code-camp"> FreeCodeCamp Challenge </i> </a></li> -->
				</ul>
			</div>
		</div>

	</div>
	<div id="projectSelectBoxes">			
				<button type="image" class="projectSelectButton" id={{project.id}} ng-click="changeProject(project.id) || scrollTo('index')" ng-style="{'background-color': project.color}" ng-repeat="project in buttons">
						<img src={{project.logo}} class="projectSelectImage" ng-style="{'background-color': project.color}">
						<p class="logoText"> {{project.title}} </p>
				</button>
		</div>
	<!-- Contact Section -->
    <div id="contactInfo"> <i class="fa fa-envelope-o fa-2x"> </i>
      <p>Come say hi! These projects are constantly in development and I'd appreciate any feedback.</p>
      <p id="gmailTagLine">crumrinecoding at gmail dot com </p>
	
    </div>
	
	  <button id="logoCredits" onclick="creditsOn(); off">Logo Credits</button>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js'></script>
  <script type="text/javascript" src="projectController.js">
  </script>
</body>