/* Entire Document */

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Droid Serif', serif;
}
button:focus {
    outline: 0;
}
/* !Nav! */

nav {
    background-color: #3B3738;
    margin: 0;
    overflow: hidden;
    color: white;
    border-bottom-color: yellow;
    border-bottom-style: solid;
}
/* Leftside of Nav */

#nic {
    font-size: 22px;
    font-weight: bold;
}
#nicJob {
    font-style: italic;
    margin-top: -15px;
}
#nameNavContainer {
    padding-left: 15px;
}
/* Nav Positioning */

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    color: white;
    background-color: #521A19;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
}
nav ul li:first-child {
    margin-right: auto;
}
/* Right links */

nav ul li a:hover {
    background-color: #B20D0C;
}
/* !Projects! */

#projectPic {
    float: left;
    margin: 0px 10px 0px 10px;
    width: 600px;
	height: 500px; 
	position: relative; 
}

#projectPic img{
	width: 100%; 
	display:block;
    margin:auto;
	  position: absolute;
	   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-height: 500px; 
}

#projectFrontEnd li,
#projectBackEnd li {
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 5px 3px 5px;
    margin: 0px 3px 4px 3px;
}
#projectFrontEnd li {
    border: 1px solid #E39C8A;
}
#projectBackEnd li {
    border: 1px solid #C198D3;
}
#projectProductPaper {
    margin-top: 30px;
}
#projectLinks {
    text-align: center;
    padding-left: 0px;
}
#projectLinks li {
    display: inline-block;
    list-style-type: none;
    margin: 5px 10px 0px 0px;
    font-size: 17px;
    border: 2px solid #8C96ED;
    padding: 3px 5px 3px 5px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.fa,.fa-external-link {
    color: black;
	-webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
}

.fa-code:hover, .fa-external-link:hover{
	color: #5D6BD4; 
}
/* Project Buttons */

#projectSelectBoxes {
    clear: both;
}
.projectSelectImage {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
}
.projectSelectButton {
    background: white;
    width: 150px;
    height: 150px;
    padding: 0;
    margin-left: 30px;
    border: none;
}

/* !!CONTACT!! */

#contactInfo{
	text-align: center; 
}

#nameContainer{
	float: left; 
}

#addressContainer{
	float: right; 
}

#Message{
	clear: both; 
}

.antispam { display:none;}